
                          #
                         (
                         (
                        ##
                 ./     (
               ,, /%   #
             ,,,,(((  (
            ,,,,,%,,  (
           /,,,,,/
        %(#,,,,( %,,,,,,,&
     (((((((&((,,,,,,,,,,%    ,--.   ,--.                                ,--.
 (#(((((((((( ,,,,,,,,,,,/    |   `.'   | ,---. ,-----. ,--,--.,--.--. ,-|  |
  ((((((((((((( ,,,,#         |  |'.'|  || .-. |`-.  / ' ,-.  ||  .--'' .-. |
  ((((((((((((((&             |  |   |  |' '-' ' /  `-.\ '-'  ||  |   \ `-' |
  %((((((((((((((             `--'   `--' `---' `-----' `--`--'`--'    `---'
   (((((((((((
  (((((((((&                  {{ ansible_facts.hostname }}
  (((((((                     {{ group_names }}
