{% if rewritesuffix is defined %}
  {% set suffix = rewritesuffix %}
{% else %}
  {% set suffix = "toon" %}
{% endif %}

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI}  ^/{{ suffix }}/
RewriteRule ^{{ suffix }}/(.*)$ https://%{HTTP_HOST}/mozard/{{ suffix }}/$1 [L,NC,R=302]

# If requested thing is not a file or directory , then rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /{{ suffix }}/$1 [L,NC,R=302]
