<VirtualHost _default_:443>
  Protocols h2 http/1.1

  ServerAdmin {{ hostname.email }}

  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/leaf/default.pem
  SSLCertificateKeyFile \
    /etc/ssl/private/default.key

  <FilesMatch "\.(cgi|shtml|phtml|php)$">
    SSLOptions +StdEnvVars
  </FilesMatch>
  <Directory /usr/lib/cgi-bin>
    SSLOptions +StdEnvVars
  </Directory>

  Redirect / {{ hostname.default_redirect }}
</VirtualHost>

{% if hostname.nakeddomain is defined %}
  {% for item in hostname.nakeddomain.values() %}
    <VirtualHost *:443>
      Protocols h2 http/1.1

      ServerName {{ item.domain }}
      ServerAdmin techbeheer@mozard.nl

      SSLEngine on
      SSLCertificateFile /etc/ssl/certs/leaf/{{ item.domain }}.pem
      SSLCertificateKeyFile \
        /etc/ssl/private/{{ item.domain }}.key

      <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
      </FilesMatch>
      <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
      </Directory>

      Redirect / https://www.{{ item.domain}}/
    </VirtualHost>
  {% endfor %}
{% endif %}
