<VirtualHost *:80>
  Protocols h2 h2c http/1.1

  ServerAdmin {{ hostname.email }}

  RewriteEngine on
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>
