<VirtualHost *:443>
  Protocols h2 http/1.1

  ServerName {{ hostname.intranet.prod.domain }}
  ServerAdmin {{ hostname.email }}

  {% if hostname.intranet.prod.aliases is defined %}
    {% for alias in hostname.intranet.prod.aliases %}
      ServerAlias {{ alias }}
    {% endfor %}
  {% endif %}

  DocumentRoot /var/www/{{ oracle.prod.sid }}-intra

  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/leaf/{{ oracle.prod.sid }}-intra.pem
  SSLCertificateKeyFile /etc/ssl/private/{{ oracle.prod.sid }}-intra.key

  <FilesMatch "\.(cgi|shtml|phtml|php)$">
    SSLOptions +StdEnvVars
  </FilesMatch>
  <Directory /usr/lib/cgi-bin>
    SSLOptions +StdEnvVars
  </Directory>

  <Directory /var/www/{{ oracle.prod.sid }}-intra>
    Options FollowSymLinks
    AllowOverride all
  </Directory>

  {% if ad is defined %}
    <Location /mozard>
      AuthType KerberosV5
      AuthName "Kerberos Login"

      KrbAuthRealm {{ ad.realm }}
      KrbServiceName {{ ad.servicename.prod}}
      KrbVerifyKDC on
      Krb5KeyTab /etc/kerberos.keytab

      KrbLocalUserMapping on
      KrbMethodK5Passwd on
      KrbMethodNegotiate on

      Require valid-user
      Satisfy All

      RequestHeader set X-Remote-User expr=%{REMOTE_USER}
    </Location>
  {% endif %}

  <IfModule !mod_php7.c>
    <IfModule proxy_fcgi_module>
      # Enable http authorization headers
      <IfModule setenvif_module>
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
      </IfModule>

      <FilesMatch ".+\.ph(ar|p|tml)$">
        SetHandler "proxy:unix:/run/php/php7.3-fpm-{{ oracle.prod.sid }}.sock|fcgi://localhost"
      </FilesMatch>

      <FilesMatch ".+\.phps$">
        Require all denied
      </FilesMatch>

      <FilesMatch "^\.ph(ar|p|ps|tml)$">
        Require all denied
      </FilesMatch>
    </IfModule>
  </IfModule>

  Alias /mozard_static/js/tinymce /var/www/statisch/public_html/js/tinymce-{{ tinymce }}

  {% if tinymce5 is defined %}
    Alias /mozard_static/js/tinymce5 /var/www/statisch/public_html/js/tinymce-{{ tinymce5 }}
  {% endif %}

  {% if hostname.proxyftp is defined %}
    SSLProxyEngine on
    ProxyVia on
    ProxyRequests off
    ProxyPreserveHost on

    ProxyPass /batchupload {{ hostname.proxyftp }}/batchupload
    ProxyPassReverse /batchupload {{ hostname.proxyftp }}/batchupload
    ProxyPass /data {{ hostname.proxyftp }}/data
    ProxyPassReverse /data {{ hostname.proxyftp }}/data
    ProxyPass /document {{ hostname.proxyftp }}/document
    ProxyPassReverse /document {{ hostname.proxyftp }}/document
    ProxyPass /scanbijlagen {{ hostname.proxyftp }}/scanbijjlagen
    ProxyPassReverse /scanbijlagen {{ hostname.proxyftp }}/scanbijlagen
    ProxyPass /scanpostintake {{ hostname.proxyftp }}/scanpostintake
    ProxyPassReverse /scanpostintake {{ hostname.proxyftp }}/scanpostintake
    ProxyPass /scanvelop {{ hostname.proxyftp }}/scanvelop
    ProxyPassReverse /scanvelop {{ hostname.proxyftp }}/scanvelop
    ProxyPass /sdxml {{ hostname.proxyftp }}/sdxml
    ProxyPassReverse /sdxml {{ hostname.proxyftp }}/sdxml
  {% endif %}

  CacheEnable disk /mozard/index.php/document/pub/
  CacheRoot /var/cache/apache2/mod_cache_disk/{{ oracle.prod.sid }}-intra
  CacheDefaultExpire 3600
  CacheDirLevels 2
  CacheDirLength 2
  CacheStorePrivate on
  CacheIgnoreHeaders Set-Cookie
  CacheIgnoreHeaders Cookie
  CacheIgnoreHeaders X-Remote-User
</VirtualHost>
