<VirtualHost *:443>
  Protocols h2 http/1.1

  ServerName {{ hostname.internet.prod.domain }}
  ServerAdmin {{ hostname.email }}

  {% if hostname.internet.prod.aliases is defined %}
    {% for alias in hostname.internet.prod.aliases %}
      ServerAlias {{ alias }}
    {% endfor %}
  {% endif %}

  DocumentRoot /var/www/{{ oracle.prod.sid }}-inter

  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/leaf/{{ oracle.prod.sid }}-inter.pem
  SSLCertificateKeyFile /etc/ssl/private/{{ oracle.prod.sid }}-inter.key

  <FilesMatch "\.(cgi|shtml|phtml|php)$">
    SSLOptions +StdEnvVars
  </FilesMatch>
  <Directory /usr/lib/cgi-bin>
    SSLOptions +StdEnvVars
  </Directory>

  <Directory /var/www/{{ oracle.prod.sid }}-inter>
    Options FollowSymLinks
    AllowOverride all
  </Directory>

  <IfModule !mod_php7.c>
    <IfModule proxy_fcgi_module>
      # Enable http authorization headers
      <IfModule setenvif_module>
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
      </IfModule>

      <FilesMatch ".+\.ph(ar|p|tml)$">
        SetHandler "proxy:unix:/run/php/php7.3-fpm-{{ oracle.prod.sid }}.sock|fcgi://localhost"
      </FilesMatch>

      <FilesMatch ".+\.phps$">
        Require all denied
      </FilesMatch>

      <FilesMatch "^\.ph(ar|p|ps|tml)$">
        Require all denied
      </FilesMatch>
    </IfModule>
  </IfModule>

  CacheEnable disk /mozard/index.php/document/pub/
  CacheRoot /var/cache/apache2/mod_cache_disk/{{ oracle.prod.sid }}-inter
  CacheDefaultExpire 3600
  CacheDirLevels 2
  CacheDirLength 2
  CacheStorePrivate on
  CacheIgnoreHeaders Set-Cookie
  CacheIgnoreHeaders Cookie
  CacheIgnoreHeaders X-Remote-User
</VirtualHost>
