<?php

  $dadname                  = 'mozard';
  $startPage                = 'mozardstart';
  $NLS_territory            = 'THE NETHERLANDS';
  $NLS_lang                 = 'DUTCH';
  $PlsqlDocumentTablename   = 'mozard.documentblob';
  $PlsqlDocumentPath        = 'document';
  $PlsqlDocumentProcedure   = 'mozard.scherm0685';
  $debug                    = false;
  $PlsqlPathAlias           = array('toon');
  $PlsqlPathAliasProcedure  = array('suite86.scherm0967');
  $useBFile                 = {{ oracle.test.bfile }};
  $bfileUploadPath          = '/var/www/uploads/{{ oracle.test.sid }}';
  $bfileProcedure           = 'loadblobfromfile';
  $soapEndPoint             = array('cssupdate');
  $soapEndPointProcedure    = array('suite86.cssupdate');

  $errorDocs = array
    ( 404 => '/mozard/!suite86.scherm0404'
    , 503 => '/error_503'
    );

  // Extra toe te voegen CGI-variabelen
  $cgi_env_ap = array
    ( 'X-Forwarded-For'
    , 'X-Remote-User'
    , 'DAD_NAAM'
    , 'SSL_CLIENT_S_DN_CN'
    );

  function mozardconnect() {
    return oci_pconnect("mozard_internet", "WIJZIGMIJ", "//{{ oracle.test.addr }}/{{ oracle.test.sid }}{% if oracle.test.pooled == true %}:pooled{% endif %}", 'AL32UTF8');
  }

?>
